<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sito Semplice con Bootstrap</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
    <style>
        h5 {
            margin: 0;
        }

        .navbar .btn-link {
            color: black;
        }

        .list-group-item {
            background-color: #f8f9fa;
        }

        .list-group-item .list-group {
            margin-top: 15px;
        }

        #logo-partiti {
            height: 50px;
        }
        #card-lista{
            width: 21rem;
        }
        .candidati .card-candidato {
            margin-top: 10px;
        }
    </style>
</head>

<body>
    <!-- Barra Laterale -->
    <div class="sidebar d-flex flex-column">
        <div class="sidebar-logo">
            <img src="logo_vote.png" class="site-logo" alt="site logo">
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_panoramica.html">
                    <i class="fas fa-home"></i>
                    Panoramica
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_impostazioni.html">
                    <i class="fas fa-cog"></i>
                    Impostazioni
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active sidebar-link" href="dashboard_voto.html">
                    <i class="fas fa-check-circle"></i>
                    Voto
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_elettori.html">
                    <i class="fas fa-users"></i>
                    Elettori
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_risultati.html">
                    <i class="fas fa-chart-bar"></i>
                    Risultati
                </a>
            </li>
        </ul>
        <div class="voting-times mt-auto">
            <p><b>Inizio votazione:</b><br> 12:00 12/12/2024</p>
            <p><b>Fine votazione:</b> <br> 12:00 12/12/2024</p>
        </div>
        <a href="#" class="btn btn-primary" id="indietro"> <i class="fas fa-angle-left"></i>Torna alle Votazioni</a>
    </div>

    <!-- Contenuto della Pagina -->
    <div class="right-site">
        <!-- Barra Superiore -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Titolo Votazione</a>
            <div class="ml-auto dropdown">
                <a href="#" class="d-flex align-items-center text-white" id="profileDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="https://via.placeholder.com/50" class="profile-image" alt="Profile Image">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">Profilo</a>
                    <a class="dropdown-item" href="#">Impostazioni</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>

            </div>
        </nav>

        <!-- Contenuto Principale -->
        <div class="content">
            <div class="container mt-4">
                <h1>Contenuto Principale</h1>
                <p>Qui va il contenuto della pagina.</p>

                <!-- Sezione Candidati -->
                <div class="candidati mt-5">
                    <h2>Candidati alla Votazione</h2>

                    <!-- Bottoni Aggiungi e Importa -->
                    <div class="mb-3">
                        <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal">
                            <i class="fas fa-user-plus"></i> Aggiungi Candidato
                        </button>
                        <button class="btn btn-primary">
                            <i class="fas fa-file-import"></i> Importa Candidati
                        </button>
                    </div>

                    <div class="card card-candidato">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex align-items-center">
                                    <img src="https://via.placeholder.com/50" class="mr-3" alt="Candidate 1">
                                    <div>
                                        <h5>Nome Candidato 1</h5>
                                    </div>
                                </div>
                                <div class="navbar">
                                    <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-info" data-toggle="modal" data-target="#addListModal1">
                                    <i class="fas fa-plus-circle"></i> Aggiungi Lista
                                </button>
                                <div class="d-flex flex-wrap mt-2" id="liste-elenco">
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Patto_per_l'Italia.svg.png" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 1</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 1 Lista 1
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton21" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton21">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 2 Lista 1
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton22" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton22">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 3 Lista 1
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton23" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton23">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Federazione_dei_Liberali_(Italia,_1994).svg.png" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 2</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 1 Lista 2
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton31" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton31">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 2 Lista 2
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton32" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton32">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 3 Lista 2
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton33" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton33">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 3</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton4">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 4</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 1 Lista 4
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton51" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton51">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 2 Lista 4
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton52" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton52">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                                    Candidato 3 Lista 4
                                                    <div class="navbar">
                                                        <button class="btn btn-link" type="button" id="dropdownMenuButton53" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton53">
                                                            <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                            <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card card-candidato">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex align-items-center">
                                    <img src="https://via.placeholder.com/50" class="mr-3" alt="Candidate 1">
                                    <div>
                                        <h5>Nome Candidato 1</h5>
                                    </div>
                                </div>
                                <div class="navbar">
                                    <button class="btn btn-link" type="button" id="dropdownMenuButton1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-info" data-toggle="modal" data-target="#addListModal1">
                                    <i class="fas fa-plus-circle"></i> Aggiungi Lista
                                </button>
                                <div class="d-flex flex-wrap mt-2" id="liste-elenco">
                                    <div class="card mr-2 mb-2" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Patto_per_l'Italia.svg.png" class="mr-3" alt="Candidate 1"
                                                id="logo-partiti">
                                            <span>poartito fare per fermare il declino</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton2"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton2">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Aggiungi più liste qui -->
                                    <div class="card mr-2 mb-2" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Federazione_dei_Liberali_(Italia,_1994).svg.png" class="mr-3"
                                                alt="Candidate 1" id="logo-partiti">
                                            <span>Nome Lista 2</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton3"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton3">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1"
                                                id="logo-partiti">
                                            <span>Nome Lista 3</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton4"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton4">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1"
                                                id="logo-partiti">
                                            <span>Nome Lista 3</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton4"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton4">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-candidato">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex align-items-center">
                                    <img src="https://via.placeholder.com/50" class="mr-3" alt="Candidate 1">
                                    <div>
                                        <h5>Nome Candidato 1</h5>
                                    </div>
                                </div>
                                <div class="navbar">
                                    <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="card card-candidato">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex align-items-center">
                                    <img src="https://via.placeholder.com/50" class="mr-3" alt="Candidate 1">
                                    <div>
                                        <h5>Nome Candidato 1</h5>
                                    </div>
                                </div>
                                <div class="navbar">
                                    <button class="btn btn-link" type="button" id="dropdownMenuButton1"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right"
                                        aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-arrows-alt"></i> Muovi</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-info" data-toggle="modal" data-target="#addListModal1">
                                    <i class="fas fa-plus-circle"></i> Aggiungi Lista
                                </button>
                                <div class="d-flex flex-wrap mt-2 w-100" id="liste-elenco">
                                    <div class="card mb-2 w-100" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Patto_per_l'Italia.svg.png" class="mr-3" alt="Candidate 1"
                                                id="logo-partiti">
                                            <span>Partito Fare per Fermare il Declino</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton2"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton2">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Aggiungi più liste qui -->
                                    <div class="card mb-2 w-100" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Federazione_dei_Liberali_(Italia,_1994).svg.png" class="mr-3"
                                                alt="Candidate 1" id="logo-partiti">
                                            <span>Nome Lista 2</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton3"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton3">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 w-100" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1"
                                                id="logo-partiti">
                                            <span>Nome Lista 3</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton4"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton4">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-2 w-100" id="card-lista">
                                        <div class="card-body d-flex justify-content-between align-items-center">
                                            <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1"
                                                id="logo-partiti">
                                            <span>Nome Lista 4</span>
                                            <div class="navbar">
                                                <button class="btn btn-link" type="button" id="dropdownMenuButton5"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-right"
                                                    aria-labelledby="dropdownMenuButton5">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-edit"></i>
                                                        Modifica</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash"></i>
                                                        Elimina</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    


                    <div class="card card-candidato">
                        <div class="card-body d-flex flex-column align-items-start">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex align-items-center">
                                    <img src="https://via.placeholder.com/50" class="mr-3" alt="Candidate 1">
                                    <div>
                                        <h5>Nome Candidato 1</h5>
                                    </div>
                                </div>
                                <div class="navbar">
                                    <button class="btn btn-link" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton1">
                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-arrows-alt"></i> Muovi</a>
                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-3">
                                <button class="btn btn-info" data-toggle="modal" data-target="#addListModal1">
                                    <i class="fas fa-plus-circle"></i> Aggiungi Lista
                                </button>
                                <div class="d-flex flex-wrap mt-2" id="liste-elenco">
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Patto_per_l'Italia.svg.png" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 1</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton2">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item">Candidato 1 Lista 1</li>
                                                <li class="list-group-item">Candidato 2 Lista 1</li>
                                                <li class="list-group-item">Candidato 3 Lista 1</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Federazione_dei_Liberali_(Italia,_1994).svg.png" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 2</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton3">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item">Candidato 1 Lista 2</li>
                                                <li class="list-group-item">Candidato 2 Lista 2</li>
                                                <li class="list-group-item">Candidato 3 Lista 2</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 3</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton4">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item">Candidato 1 Lista 3</li>
                                                <li class="list-group-item">Candidato 2 Lista 3</li>
                                                <li class="list-group-item">Candidato 3 Lista 3</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <img src="Democrazia_cristiana_logo.jpg" class="mr-3" alt="Candidate 1" id="logo-partiti">
                                                <span>Nome Lista 4</span>
                                                <div class="navbar">
                                                    <button class="btn btn-link" type="button" id="dropdownMenuButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-ellipsis-v"></i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton5">
                                                        <a class="dropdown-item" href="#"><i class="fas fa-edit"></i> Modifica</a>
                                                        <a class="dropdown-item" href="#"><i class="fas fa-trash"></i> Elimina</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal" style="width: 100%;">
                                                <i class="fas fa-user-plus"></i> Aggiungi Candidato di lista
                                            </button>
                                            <ul class="list-group mt-3">
                                                <li class="list-group-item">Candidato 1 Lista 4</li>
                                                <li class="list-group-item">Candidato 2 Lista 4</li>
                                                <li class="list-group-item">Candidato 3 Lista 4</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    
                    <!-- Altri candidati qui -->
                </div>
            </div>
        </div>
    </div>

    <!-- Add Candidate Modal -->
    <div class="modal fade" id="addCandidateModal" tabindex="-1" role="dialog" aria-labelledby="addCandidateModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCandidateModalLabel">Aggiungi Candidato di Lista</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form content to add a candidate -->
                    <form>
                        <div class="form-group">
                            <label for="candidateName">Nome Candidato</label>
                            <input type="text" class="form-control" id="candidateName" placeholder="Nome Candidato">
                        </div>
                        <div class="form-group">
                            <label for="candidateParty">Partito</label>
                            <input type="text" class="form-control" id="candidateParty" placeholder="Partito">
                        </div>
                        <button type="submit" class="btn btn-primary">Salva</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal per aggiungere lista -->
    <div class="modal fade" id="addListModal1" tabindex="-1" aria-labelledby="addListModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addListModalLabel1">Aggiungi Lista per Nome Candidato 1</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="listName">Nome Lista</label>
                            <input type="text" class="form-control" id="listName" placeholder="Inserisci nome lista">
                        </div>
                        <button type="submit" class="btn btn-primary">Aggiungi Lista</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Inclusione di jQuery e Popper.js per far funzionare il dropdown -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</body>

</html>