<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Votazione</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="C:\xampp\htdocs\voting-system\template\styles.css" rel="stylesheet">
    <style>

    </style>
</head>
<body>
    <div class="container mt-5">
        <h1>Vota i Candidati</h1>
        <form action="submit_vote.php" method="post">
            <div class="card card-candidato">
                <div class="card-body d-flex flex-column align-items-start">
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="d-flex align-items-center">
                            <img src="https://via.placeholder.com/50" class="mr-3" alt="Candidate 1">
                            <div>
                                <h5>Nome Candidato 1</h5>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="d-flex flex-wrap mt-2" id="liste-elenco">
                            <!-- Lista 1 -->
                            <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <img src="img/Patto_per_l'Italia.svg.png" class="mr-3" alt="Logo Lista 1" id="logo-partiti">
                                        <span>Nome Lista 1</span>
                                    </div>
                                    <hr>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="lista" id="lista1" value="Nome Lista 1">
                                        <label class="custom-control-label" for="lista1">
                                            Vota Lista 1
                                        </label>
                                    </div>
                                    <ul class="list-group mt-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista1" id="candidato1_lista1" value="Candidato 1 Lista 1">
                                                <label class="custom-control-label" for="candidato1_lista1">
                                                    Candidato 1 Lista 1
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista1" id="candidato2_lista1" value="Candidato 2 Lista 1">
                                                <label class="custom-control-label" for="candidato2_lista1">
                                                    Candidato 2 Lista 1
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista1" id="candidato3_lista1" value="Candidato 3 Lista 1">
                                                <label class="custom-control-label" for="candidato3_lista1">
                                                    Candidato 3 Lista 1
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Lista 2 -->
                            <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <img src="img/Federazione_dei_Liberali_(Italia,_1994).svg.png" class="mr-3" alt="Logo Lista 2" id="logo-partiti">
                                        <span>Nome Lista 2</span>
                                    </div>
                                    <hr>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="lista" id="lista2" value="Nome Lista 2">
                                        <label class="custom-control-label" for="lista2">
                                            Vota Lista 2
                                        </label>
                                    </div>
                                    <ul class="list-group mt-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista2" id="candidato1_lista2" value="Candidato 1 Lista 2">
                                                <label class="custom-control-label" for="candidato1_lista2">
                                                    Candidato 1 Lista 2
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista2" id="candidato2_lista2" value="Candidato 2 Lista 2">
                                                <label class="custom-control-label" for="candidato2_lista2">
                                                    Candidato 2 Lista 2
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista2" id="candidato3_lista2" value="Candidato 3 Lista 2">
                                                <label class="custom-control-label" for="candidato3_lista2">
                                                    Candidato 3 Lista 2
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Lista 3 -->
                            <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <img src="img/Democrazia_cristiana_logo.jpg" class="mr-3" alt="Logo Lista 3" id="logo-partiti">
                                        <span>Nome Lista 3</span>
                                    </div>
                                    <hr>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="lista" id="lista3" value="Nome Lista 3">
                                        <label class="custom-control-label" for="lista3">
                                            Vota Lista 3
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- Lista 4 -->
                            <div class="card mr-2 mb-2 card-lista" id="card-lista">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <img src="img/Democrazia_cristiana_logo.jpg" class="mr-3" alt="Logo Lista 4" id="logo-partiti">
                                        <span>Nome Lista 4</span>
                                    </div>
                                    <hr>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" type="radio" name="lista" id="lista4" value="Nome Lista 4">
                                        <label class="custom-control-label" for="lista4">
                                            Vota Lista 4
                                        </label>
                                    </div>
                                    <ul class="list-group mt-3">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista4" id="candidato1_lista4" value="Candidato 1 Lista 4">
                                                <label class="custom-control-label" for="candidato1_lista4">
                                                    Candidato 1 Lista 4
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista4" id="candidato2_lista4" value="Candidato 2 Lista 4">
                                                <label class="custom-control-label" for="candidato2_lista4">
                                                    Candidato 2 Lista 4
                                                </label>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" type="radio" name="candidato_lista4" id="candidato3_lista4" value="Candidato 3 Lista 4">
                                                <label class="custom-control-label" for="candidato3_lista4">
                                                    Candidato 3 Lista 4
                                                </label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Invia Voto</button>
        </form>
    </div>
</body>
</html>
