<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sito Semplice con Bootstrap</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.2/css/dataTables.dataTables.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="C:\xampp\htdocs\voting-system\template\styles.css" rel="stylesheet">
</head>
<body>
    <!-- Barra Laterale -->
    <div class="sidebar d-flex flex-column">
        <div class="sidebar-logo">
            <img src="img/logo_vote.png" class="site-logo" alt="site logo">
        </div>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_panoramica.html">
                    <i class="fas fa-home"></i>
                    Panoramica
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_impostazioni.html">
                    <i class="fas fa-cog"></i>
                    Impostazioni
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_voto_candidato_lista.html">
                    <i class="fas fa-check-circle"></i>
                    Voto
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active sidebar-link" href="dashboard_elettori.html">
                    <i class="fas fa-users"></i>
                    Elettori
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link sidebar-link" href="dashboard_risultati.html">
                    <i class="fas fa-chart-bar"></i>
                    Risultati
                </a>
            </li>
        </ul>
        <div class="voting-times mt-auto">
            <p><b>Inizio votazione:</b><br> 12:00 12/12/2024</p>
            <p><b>Fine votazione:</b> <br> 12:00 12/12/2024</p>
        </div>
        <a href="#" class="btn btn-primary" id="indietro"> <i class="fas fa-angle-left"></i>Torna alle Votazioni</a>
    </div>

    <!-- Contenuto della Pagina -->
    <div class="right-site">
        <!-- Barra Superiore -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#">Titolo Votazione</a>
            <div class="ml-auto dropdown">
                <a href="#" class="d-flex align-items-center text-white" id="profileDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="https://via.placeholder.com/50" class="profile-image" alt="Profile Image">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
                    <a class="dropdown-item" href="#">Profilo</a>
                    <a class="dropdown-item" href="#">Impostazioni</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </div>
        </nav>

        <!-- Contenuto Principale -->
        <div class="content">
            <div class="container mt-4">
                <h1>Contenuto Principale</h1>
                <p>Qui va il contenuto della pagina.</p>
                <div class="mb-3">
                    <button class="btn btn-success" data-toggle="modal" data-target="#addCandidateModal">
                        <i class="fas fa-user-plus"></i> Aggiungi Utente
                    </button>
                    <button class="btn btn-primary">
                        <i class="fas fa-file-import"></i> Importa Utenti
                    </button>
                </div>
                
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Lista Utenti votanti
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Nome Utente</th>
                                    <th>Nome</th>
                                    <th>Cognome</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Nome Utente</th>
                                    <th>Nome</th>
                                    <th>Cognome</th>
                                    <th>Email</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr><tr>
                                    <td>d-mariucci-800</td>
                                    <td>Diego</td>
                                    <td>Mariucci</td>
                                    <td>mariuccidiego@gmail.com</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    
    <script>
        $(document).ready(function() {
            $('#datatablesSimple').DataTable({
                "language": {
                    "url": "https://cdn.datatables.net/plug-ins/2.1.2/i18n/it-IT.json"
                }
            });
        });
    </script>
</body>

</html>